.domTree,
.domTree ul,
.prettyPrintTree ul {
    padding: 0 0 0 1em;
    margin: 0;
}

.domTree li,
.prettyPrintTree li {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.domTree li::before {
    border-style: none none solid solid;
    border-width: 1px;
    content: '';
    height: .65em;
    left: -.75em;
    position: absolute;
    width: .5em;
}

.domTree li:not(:last-child)::after {
    position: absolute;
    border-left: 1px solid;
    content: '';
    height: 100%;
    left: -.75em;
    top: 0;
}

.domTree code,
.domTree .attribute.name {
    color: orangered;
    font-size: 1.3em;
    font-weight: bold;
}

.domTree .attribute.value {
    color: blue;
    font-size: 1.2em;
    font-weight: normal;
}

.prettyPrintTree {
    padding: 0;
}

.pass, .fail {
    color: white;
    margin: 1em 0;
    padding: .5em;
}

.pass {
    background-color: green;
}

.fail {
    background-color: red;
    font-weight: bold;
}

.result pre {
    display: inline;
}

.xdebug-error {
    font-size: 15px;
}
